
header{
	background-color:#F85A3E;
	padding-top: 20px;
	padding-bottom: 40px;

}

body{
	background-color:#E1E6E1;
	color: black;
	font-size:4vw;
	//Original font-size;
	//font-size: 80px;
	font-family: 'Baloo Chettan';
	margin: 0;
	padding: 0;
	text-align: center;

}
p{
	font-size: 2vw;
	margin: 0;
	padding: 0;
}

h1{

	margin: auto;
	text-align: center;

}

h2, h3,h4,h5,h6{
	margin: 0;
	padding: 0;
	margin-top: 0%;


}
a:link{
	color: white;
}

a:hover{
	color: #a9ada9;
}
a{
	color: #fff;
	text-decoration: none;
}
img{
	padding-left: 120px;
	float: left;
	max-width: 15vw;
	height: auto;
}

.flex-container {
	display: grid;
	grid-template-columns: 50% 50%;
	align-content: space-between;
	justify-content: center;
	

  }

  #meme-container,#meme-container1,#meme-container2,#meme-container3{
	margin:20px;
	max-width: 40%;
	height: auto;
  }
.border-meme{
	border:3px solid black;
}